/* Main body */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-family: "Yeseva One";
  font-size: 70px;
  padding: 15px;
  line-height: 20px;
}
h2 {
  font-size: 55px;
  text-align: center;
  line-height: 20px;
}
h3 {
  font-size: 30px;
}
.left {
  text-align: left;
}
.orange {
  color: orange;
}
.red {
  color: red;
}

.flexible-content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 60px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}
.half-width img {
  padding-left: 5%;
  padding-right: 5%;
  width: 80%;
}

/* Heading */
.heading {
  border-left: 5px solid;
  border-image: linear-gradient(tomato, red);
  border-image-slice: 1;
}
/* Button */
.link-btn {
  text-decoration: none;
  background-image: linear-gradient(tomato, red, tomato);
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn {
  margin-top: 5px;
  text-decoration: none;
  background-image: linear-gradient(blue, cyan);
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}
/* Blog card area */
.blog-area {
  padding: 25px;
  margin: 5px;
}
.blog-content {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  border-radius: 10px;
}
.blog-content img {
  position: left;
  width: 50%;
}
#mission {
  background-color: rgb(199, 191, 236, 0.5);
}
#vission {
  background-color: rgb(233, 153, 173, 0.5);
}
#goals {
  background-color: rgb(253, 180, 180, 0.5);
}

/* Blog post area */
.develop-area {
  margin-left: 5%;
  padding-left: 5%;
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40%;
}
.global-area {
  margin-right: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}

/* Project area */
#projects {
  padding: 32px 0;
  margin-top: 32px;
  background-image: url(./images/shapes/shape-2.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 30%;
}
.projects-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-content img {
  width: 80%;
  height: 60%;
}
.project-content {
  text-align: center;
  width: 350px;
  padding: 16px;
}
.project-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 40px grey;
  padding: 20px;
  margin: 10px;
}

/* Contact us */

.contact-form {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 40px grey;
  padding: 20px;
  margin-left: 30%;
  margin-right: 30%;
}
input[type="text"] {
  padding: 2px;
  width: 90%;
}
input[type="text-area"] {
  padding: 2px;
  width: 90%;
  height: 90px;
}
/* Footer */
footer {
  margin-top: 50px;
  padding: 2%;
  text-align: justify;
  color: white;
  background-color: black;
}
.footer-design {
  text-align: center;
  font-size: 30px;
  font-family: "Lobster", cursive;
}
.footer-text {
  text-align: center;
}
